<div class="page-header">
  <h3>Space #<%= @space.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Landlord</dt>
      <dd><%= @space.landlord_id %></dd>

      <dt>Size</dt>
      <dd><%= @space.size %></dd>

      <dt>Notes</dt>
      <dd><%= @space.notes %></dd>

      <dt>Summary</dt>
      <dd><%= @space.summary %></dd>

      <dt>Allow boxes</dt>
      <dd><%= @space.allow_boxes %></dd>

      <dt>Allow furniture</dt>
      <dd><%= @space.allow_furniture %></dd>

      <dt>Allow sporting goods</dt>
      <dd><%= @space.allow_sporting_goods %></dd>

      <dt>Street address</dt>
      <dd><%= @space.street_address %></dd>

      <dt>City</dt>
      <dd><%= @space.city %></dd>

      <dt>State</dt>
      <dd><%= @space.state %></dd>

      <dt>Availability date</dt>
      <dd><%= @space.availability_date %></dd>

      <dt>Min term</dt>
      <dd><%= @space.min_term %></dd>

      <dt>Dimensions</dt>
      <dd><%= @space.dimensions %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/spaces" class="btn btn-primary">
        Back
      </a>
      <a href="/spaces/<%= @space.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_space/<%= @space.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>

<!-- A Space has many rentals -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Rentals
      </li>

      <% @space.rentals.each do |rental| %>
        <li class="list-group-item">
          <a href="/rentals/<%= rental.id %>">
            <%= rental.renter_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/rentals/<%= rental.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/rentals/<%= rental.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_rental/<%= rental.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>

      <li class="list-group-item">
        <form action="/create_rental" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for renter_id -->
      <input type="hidden" name="renter_id" value="<%= current_user.id %>">

      <!-- Label and input for landlord_id -->
      <div class="form-group">
        <label for="landlord_id" class="control-label">
          Landlord
        </label>

        <%= select_tag(:landlord_id, options_from_collection_for_select(Steward.all, :id, :created_at), :class => "form-control") %>
      </div>

      <!-- Label and input for monthly_rate -->
      <div class="form-group">
        <label for="monthly_rate" class="control-label">
          Monthly rate
        </label>

        <input type="text" id="monthly_rate" name="monthly_rate" placeholder="Monthly rate" class="form-control" value="">
      </div>

      <!-- Label and input for space_id -->
      <input type="hidden" name="space_id" value="<%= @space.id %>">

      <button class="btn btn-block btn-success">
        Create Rental
      </button>
    </form>
      </li>
    </ul>
  </div>
</div>

<!-- A Space has many offerring_photos -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Offerring Photos
      </li>

      <% @space.offerring_photos.each do |space_photo| %>
        <li class="list-group-item">
          <a href="/space_photos/<%= space_photo.id %>">
            <%= space_photo.landlord_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/space_photos/<%= space_photo.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/space_photos/<%= space_photo.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_space_photo/<%= space_photo.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>

      <li class="list-group-item">
        <form action="/create_space_photo" method="post" enctype="multipart/form-data">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for landlord_id -->
      <div class="form-group">
        <label for="landlord_id" class="control-label">
          Landlord
        </label>

        <%= select_tag(:landlord_id, options_from_collection_for_select(Steward.all, :id, :created_at), :class => "form-control") %>
      </div>

      <!-- Label and input for space_id -->
      <input type="hidden" name="space_id" value="<%= @space.id %>">

      <!-- Label and input for photo -->
      <div class="form-group">
        <label for="photo" class="control-label">
          Photo
        </label>

        <input type="file" id="photo" name="photo" class="form-control">
      </div>

      <button class="btn btn-block btn-success">
        Create Space Photo
      </button>
    </form>
      </li>
    </ul>
  </div>
</div>
