<div class="page-header">
  <h3>Space #<%= @space.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Landlord</dt>
      <dd><%= @space.landlord_id %></dd>

      <dt>Size</dt>
      <dd><%= @space.size %></dd>

      <dt>Notes</dt>
      <dd><%= @space.notes %></dd>

      <dt>Summary</dt>
      <dd><%= @space.summary %></dd>

      <dt>Allow boxes</dt>
      <dd><%= @space.allow_boxes %></dd>

      <dt>Allow furniture</dt>
      <dd><%= @space.allow_furniture %></dd>

      <dt>Allow sporting goods</dt>
      <dd><%= @space.allow_sporting_goods %></dd>

      <dt>Street address</dt>
      <dd><%= @space.street_address %></dd>

      <dt>City</dt>
      <dd><%= @space.city %></dd>

      <dt>State</dt>
      <dd><%= @space.state %></dd>

      <dt>Availability date</dt>
      <dd><%= @space.availability_date %></dd>

      <dt>Min term</dt>
      <dd><%= @space.min_term %></dd>

      <dt>Dimensions</dt>
      <dd><%= @space.dimensions %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/spaces" class="btn btn-primary">
        Back
      </a>
      <a href="/spaces/<%= @space.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_space/<%= @space.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>

<!-- A Space has many rentals -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Rentals
      </li>

      <% @space.rentals.each do |rental| %>
        <li class="list-group-item">
          <a href="/rentals/<%= rental.id %>">
            <%= rental.renter_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/rentals/<%= rental.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/rentals/<%= rental.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_rental/<%= rental.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>

<!-- A Space has many offerring_photos -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Offerring Photos
      </li>

      <% @space.offerring_photos.each do |space_photo| %>
        <li class="list-group-item">
          <a href="/space_photos/<%= space_photo.id %>">
            <%= space_photo.landlord_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/space_photos/<%= space_photo.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/space_photos/<%= space_photo.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_space_photo/<%= space_photo.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>
