<div class="page-header">
  <h3>Review Of Landlord #<%= @review_of_landlord.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Renter</dt>
      <dd>
        <% if @review_of_landlord.renter.present? %>
          <a href="/renters/<%= @review_of_landlord.renter_id %>">
            <%= @review_of_landlord.renter.created_at %>
          </a>
        <% end %>
      </dd>

      <dt>Landlord</dt>
      <dd>
        <% if @review_of_landlord.landlord.present? %>
          <a href="/stewards/<%= @review_of_landlord.landlord_id %>">
            <%= @review_of_landlord.landlord.created_at %>
          </a>
        <% end %>
      </dd>

      <dt>Rental</dt>
      <dd>
        <% if @review_of_landlord.rental.present? %>
          <a href="/rentals/<%= @review_of_landlord.rental_id %>">
            <%= @review_of_landlord.rental.renter_id %>
          </a>
        <% end %>
      </dd>

      <dt>Landlord rating</dt>
      <dd><%= @review_of_landlord.landlord_rating %></dd>

      <dt>Landlord notes</dt>
      <dd><%= @review_of_landlord.landlord_notes %></dd>

      <dt>Landlord response</dt>
      <dd><%= @review_of_landlord.landlord_response %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/review_of_landlords" class="btn btn-primary">
        Back
      </a>
      <% if current_user == @review_of_landlord.renter %>
        <a href="/review_of_landlords/<%= @review_of_landlord.id %>/edit" class="btn btn-warning">
          Edit
        </a>
        <a href="/delete_review_of_landlord/<%= @review_of_landlord.id %>" class="btn btn-danger" rel="nofollow">
          Delete
        </a>
      <% end %>
    </div>
  </div>
</div>
