<!-- Validation failure messages -->
<% if @rental.errors.any? %>
  <% @rental.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Edit Rental #<%= @rental.id %></h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/update_rental/<%= @rental.id %>" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for renter_id -->
      <div class="form-group">
        <label for="renter_id" class="control-label">
          Renter
        </label>

        <%= select_tag(:renter_id, options_from_collection_for_select(Renter.all, :id, :created_at, @rental.renter_id), :class => "form-control") %>
      </div>

      <!-- Label and input for landlord_id -->
      <div class="form-group">
        <label for="landlord_id" class="control-label">
          Landlord
        </label>

        <input type="text" id="landlord_id" name="landlord_id" placeholder="Landlord" class="form-control" value="<%= @rental.landlord_id %>">
      </div>

      <!-- Label and input for monthly_rate -->
      <div class="form-group">
        <label for="monthly_rate" class="control-label">
          Monthly rate
        </label>

        <input type="text" id="monthly_rate" name="monthly_rate" placeholder="Monthly rate" class="form-control" value="<%= @rental.monthly_rate %>">
      </div>

      <!-- Label and input for space_id -->
      <div class="form-group">
        <label for="space_id" class="control-label">
          Space
        </label>

        <input type="text" id="space_id" name="space_id" placeholder="Space" class="form-control" value="<%= @rental.space_id %>">
      </div>

      <button class="btn btn-warning">
        Update Rental
      </button>
      or
      <a href="/rentals/<%= @rental.id %>">Cancel</a>
    </form>
  </div>
</div>
