<div class="page-header">
  <h3>Rental #<%= @rental.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Renter</dt>
      <dd>
        <% if @rental.renter.present? %>
          <a href="/renters/<%= @rental.renter_id %>">
            <%= @rental.renter.created_at %>
          </a>
        <% end %>
      </dd>

      <dt>Landlord</dt>
      <dd>
        <% if @rental.landlord.present? %>
          <a href="/stewards/<%= @rental.landlord_id %>">
            <%= @rental.landlord.created_at %>
          </a>
        <% end %>
      </dd>

      <dt>Monthly rate</dt>
      <dd><%= @rental.monthly_rate %></dd>

      <dt>Space</dt>
      <dd>
        <% if @rental.offerring.present? %>
          <a href="/spaces/<%= @rental.space_id %>">
            <%= @rental.offerring.landlord_id %>
          </a>
        <% end %>
      </dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/rentals" class="btn btn-primary">
        Back
      </a>
      <% if current_user == @rental.renter %>
        <a href="/rentals/<%= @rental.id %>/edit" class="btn btn-warning">
          Edit
        </a>
        <a href="/delete_rental/<%= @rental.id %>" class="btn btn-danger" rel="nofollow">
          Delete
        </a>
      <% end %>
    </div>
  </div>
</div>
