<div class="page-header">
  <h3>Rental #<%= @rental.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Renter</dt>
      <dd><%= @rental.renter_id %></dd>

      <dt>Landlord</dt>
      <dd><%= @rental.landlord_id %></dd>

      <dt>Monthly rate</dt>
      <dd><%= @rental.monthly_rate %></dd>

      <dt>Space</dt>
      <dd><%= @rental.space_id %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/rentals" class="btn btn-primary">
        Back
      </a>
      <a href="/rentals/<%= @rental.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_rental/<%= @rental.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>
