<div class="page-header">
  <h3>Review Of Renter #<%= @review_of_renter.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Renter</dt>
      <dd>
        <% if @review_of_renter.renter.present? %>
          <a href="/renters/<%= @review_of_renter.renter_id %>">
            <%= @review_of_renter.renter.created_at %>
          </a>
        <% end %>
      </dd>

      <dt>Landlord</dt>
      <dd>
        <% if @review_of_renter.landlord.present? %>
          <a href="/stewards/<%= @review_of_renter.landlord_id %>">
            <%= @review_of_renter.landlord.created_at %>
          </a>
        <% end %>
      </dd>

      <dt>Rental</dt>
      <dd>
        <% if @review_of_renter.rental.present? %>
          <a href="/rentals/<%= @review_of_renter.rental_id %>">
            <%= @review_of_renter.rental.renter_id %>
          </a>
        <% end %>
      </dd>

      <dt>Renter rating</dt>
      <dd><%= @review_of_renter.renter_rating %></dd>

      <dt>Renter notes</dt>
      <dd><%= @review_of_renter.renter_notes %></dd>

      <dt>Renter response</dt>
      <dd><%= @review_of_renter.renter_response %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/review_of_renters" class="btn btn-primary">
        Back
      </a>
      <a href="/review_of_renters/<%= @review_of_renter.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_review_of_renter/<%= @review_of_renter.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>
